
<div class="container-fluid h-100">
  <h2>Campo</h2>
  <h4>{{position}}</h4>
  <div class="row d-flex ">
    <div class="col-11">
      <img id="page-0"
           class="example-boundary dropZone h-85 w-100 rounded"
           #dropZone cdkDropList
           id="drop-list"
           cdkDropListSortingDisabled="true"
           (cdkDropListDropped)="itemDropped($event)"
           [src]="'assets/Images/Campo.png'">
      <div class="row">
        <div class="col-12">
          <h2>Explicação do site</h2>
        </div>
      </div>
    </div>
    <div class="col-1">
      <div class="tex">
        <h2 class="text-center">Jogadores Disponíveis</h2>
        <div class="d-flex justify-content-center flex-column bg-white rounded w-100">
          <div
            style="background-image: url('../assets/Images/jogador{{item.valor}}.jpg'); background-position: center; background-size: cover; background-repeat: no-repeat"
            id="div1" cdkDropList cdkDropListConnectedTo="drop-list"
            *ngFor="let item of jogadores"
            [cdkDragData]="item" (cdkDragMoved)="moved($event)"
            class="circleBase type2 m-1 mx-auto" cdkDrag>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 d-flex justify-content-center pt-4">
          <button id="Enviar" class="button" (click)="botaoClicado()">Enviar</button>
        </div>
      </div>
    </div>
  </div>
</div>
