* {
    background-image: url('../../assets/Images/tes.gif');
    background-size: cover;
    background-attachment: fixed;
}

.button{
  border-color: white;
  border-radius: 5px;
  height:  80px;
  width: 250px;
  color: black;
  background: aqua;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
