<div class="container-fluid d-flex flex-column h-100">
  <div class="my-auto">
    <div class="row d-flex justify-content-center">
      <div class="col-6 d-flex justify-content-center mt-5">
<!--        <img  src="../../assets/Images/1.png">-->
        <div style="height: 600px; width: 500px"></div>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-3 d-flex justify-content-center pt-5">
        <button class="button" routerLink="jogadores">Começar</button>
      </div>
      <div class="col-3 d-flex justify-content-center pt-5">
        <button class="button" routerLink="tutorial">Como Usar</button>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-6 d-flex justify-content-center pt-5">
        <button class="button" routerLink="dev">Desenvolvedores</button>
      </div>
    </div>
  </div>
</div>
