<div class="container-fluid d-flex flex-column h-100">
  <div class="my-auto">
    <div class="row d-flex flex-shrink-1 flex-grow-1 justify-content-center">
      <h1 style="font-size: 50px">Desenvolvedores</h1>
    </div>
    <div class="row d-flex flex-shrink-1 flex-grow-1 justify-content-center pt-5">
      <h1 style="font-size: 30px">Roger Alencar</h1>
    </div>
    <div class="row d-flex flex-shrink-1 flex-grow-1 justify-content-center">
      <h1 style="font-size: 30px">Eduardo de Oliveira Alvim</h1>
    </div>
     <div class="row d-flex justify-content-center pt-5">
        <button class="button" routerLink="">Voltar</button>
      </div>
  </div>
</div>
