* {
  background-color: #90ee90;
}

.button{
  border-color: white;
  border-radius: 5px;
  height:  80px;
  width: 250px;
  color: black;
  background: #00FFFF;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
