<div class="container-fluid d-flex flex-column h-100">
  <div class="my-5">
    <div class="row-4 d-flex justify-content-center h-10">
      <h1 class="pt-5 d-flex justify-content-md-center" style="font-size: 55px">Desenvolvedores</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-6 justify-content-center">
      <h2 class="pt-5 d-flex justify-content-md-center" style="font-size: 35px"> Eduardo de Oliveira Alvim</h2>
      <h2 class="pt-5 d-flex justify-content-md-center" style="font-size: 30px"> 2012130076 </h2>
      <div class=" d-flex justify-content-center pt-5">
        <img src="../../assets/Images/eduardo.jpg" width="288" height="288">
      </div>
    </div>
    <div class="col-6 justify-content-md-center">
      <h2 class="pt-5 d-flex justify-content-md-center" style="font-size: 35px"> Roger dos Santos de Alencar </h2>
      <h2 class="pt-5 d-flex justify-content-md-center" style="font-size: 30px"> 2022130015 </h2>
      <div class=" d-flex justify-content-center pt-5">
        <img src="../../assets/Images/roger.jpg" >
      </div>
    </div>
  </div>
  <div class="row-5 d-flex justify-content-center pt-lg-5">
    <button class="button" routerLink="">Voltar</button>
  </div>
  <div class="row-5">
    <h4 class="pt-5 d-flex justify-content-md-center" style="font-size: 15px">IESB - Instituição de Ensino Superior em Brasília, Distrito Federal</h4>
  </div>
</div>
