<div class="container-fluid h-100 w-100">
  <!-- Campo de Futebol (Destino) -->
  <div class="col d-flex teste">
    <div class="col-10">
      <h2 class="text-center" style="margin-right: 14px">Campo</h2>
      <h4 class="text-center">{{position}}</h4>
      <div class="example-boundary dropZone h-78 w-100 rounded"
           #dropZone
           cdkDropList
           [cdkDropListConnectedTo]="lista"
           #campo="cdkDropList"
           id="drop-list"
           (cdkDropListDropped)="itemDropped($event)"
      >
        <div
          *ngFor="let field of arrayJogadores"
          style="position: absolute;"
          [style.top]="field.top"
          [style.left]="field.left"
          style="background-image: url('../../assets/Images/jogador{{field.JogadorId}}.jpg'); background-position: center; background-size: cover; background-repeat: no-repeat;"
          class="type2"
          id="jogador{{field.JogadorId}}"
        >

        </div>
      </div>
    </div>
    <div class="col-2">
      <div>
        <div class="col pt-4">
          <div class="teste2">
            <img
              *ngIf="jogadorSelecionado"
              [src]="'assets/Images/DetalhesJogador' + jogadorSelecionado.JogadorId + '.jpg'"
              class="imagemDetalhes"
            >
          </div>
        </div>
      </div>
        <div class=" d-flex justify-content-center pt-4" style="margin-right: 60px">
          <div class="px-3">
            <button  class="button" routerLink="">Voltar</button>
          </div>
          <div class="px-1">
            <button id="Enviar" class="button" (click)="Submit()">Enviar</button>
          </div>
        </div>
    </div>
  </div>
  <div>
    <div class="col-9">
      <!-- Lista de Jogadores (Origem) -->
      <h2 class="text-center" style="margin-left: 160px">Jogadores Disponíveis</h2>
      <div class="row d-flex justify-content-center flex-row rounded py-1" style="margin-left: 155px; "   >
        <div
          class="row-10 d-flex justify-content-center flex-row "
          cdkDropList
          #lista="cdkDropList"
          [cdkDropListConnectedTo]="campo"
          style="margin-right: 10px; justify-content: center;
background-color: #012b26; border-style: solid;
  border-width: 10px;
  border-color: #012b26;
  border-radius: 20px;"
        >
          <div
            cdkDrag
            *ngFor="let item of jogadores"
            [cdkDragData]="item"
            (cdkDragMoved)="moved($event)"
            (cdkDropListDropped)="itemDropped($event)"
            (mouseover)="MostrarJogador(item)"
            style="background-image: url('../../assets/Images/jogador{{item.JogadorId}}.jpg'); background-position: center; background-size: cover; background-repeat: no-repeat; "
            class="circleBase type2 m-1 mx-auto"
          >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Matriz de Distâncias</h5>
      <div class="card">
        <div class="card-body" id="resultDiv">
        </div>
      </div>
  </div>
</div>
