
* {
    background-image: linear-gradient( 180deg, #009a74, #012b26);
    background-attachment: fixed;
    color: white;
}

.button {
  border-color: white;
  border-radius: 5px;
  height: 70px;
  width: 140px;
  color: black;
  background: aqua;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}


h2, h4 {
  color: black;
}

.container {
  width: 100%;
  flex: 1;
}

.example-container {
  width: 70px;
  max-width: 80%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;

}

.example-list {
  border: solid 1px #ccc;
  min-height: 70px;
  background: black;
  border-radius: 4px;
  display: block;
  align-items: center;
}

.type2 {
  width: 77px;
  height: 77px;
  background: black;
  border: solid 1px #ccc;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  font-size: 14px;
  border-radius: 50%;

}

.cdk-drag-placeholder {
  display: table-column;
}

.example-boundary {
  position: absolute;
  margin: 0 10px 10px 0;
  display: inline-block;
  vertical-align: top;
  background-position: center;
  background-repeat: no-repeat;

}

.main-area {
  width: 100%;
  flex: 1;
}

.dropZone {
  position: absolute;
  width: 70%;
  height: 700px;
  overflow: show;
  display: inline-list-item;
  background-image: url('../../assets/Images/Campo.png');
  background-repeat: no-repeat;
  background-size: 1090px;
}

.teste{
  height: 800px;
}

.teste2{
  height: 750px; width: 280px;
}


.drop-item {
  position: absolute;
  display: inline-block;
}

.h-85 {
  height: 85% !important;
}


@media (max-width: 480px) {
  .container {
    position: fixed;
    width: 100%;
  }

  .example-container {
    position: fixed;
    width: 100%;
  }
}

