* {
    background: #0b1f20;
    color: white;
}

.button {
  border-color: white;
  border-radius: 5px;
  height: 80px;
  width: 150px;
  color: white;
  font-family: Monaco;
  background: #012b26;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  opacity: 0.6;
}

.button:hover {
  border-color: #4bff08;
  border-width: 15px;
  border-radius: 10px;
}

.container {
  width: 100%;
  flex: 1;
}

.example-container {
  width: 70px;
  max-width: 80%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;

}

.example-list {
  border: solid 1px #ccc;
  min-height: 70px;
  background: black;
  border-radius: 4px;
  display: block;
  align-items: center;
}

.type2 {
  width: 77px;
  height: 77px;
  background: black;
  border: solid 1px #ccc;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  font-size: 14px;
  border-radius: 50%;

}

.cdk-drag-placeholder {
  display: table-column;
}

.example-boundary {
  position: relative;
  margin: 0 10px 10px 0;
  display: inline-block;
  vertical-align: top;
  background-position: center;
  background-repeat: no-repeat;

}

.main-area {
  width: 100%;
  flex: 1;
}

.dropZone {
  position: relative;
  width: 70%;
  height: 700px;
  overflow: show;
  display: inline-block;
  background-image: url('../../assets/Images/Campo-Futebol.png');
  background-repeat: no-repeat;
  background-size: 1340px;
}

.teste{
  height: 800px;
  width: 2500px;

}

.teste2{
  height: 800px; width: 280px;
}

.imagemDetalhes{
  overflow-block: inherit;
  height: 730px;
  width: 350px;
  margin-left: -80px;
  margin-top: 60px;
  border-radius: 8px;
}


.drop-item {
  position: absolute;
  display: inline-block;
}

.h-85 {
  height: 85% !important;
}


@media (max-width: 480px) {
  .container {
    position: fixed;
    width: 100%;
  }

  .example-container {
    position: fixed;
    width: 100%;
  }
}
